body{
    background-color: salmon;
}
img{
    display: block;
    margin: 20px auto;
    width:100%;
}
a{
    color: black;
}
a:hover{
    color:lightsalmon
}

#container{
    background-color: lightsalmon;
    width: 75%;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid black;
}
header h1{
    font-size: 60px;
    text-align: center;
    color: olivedrab;
    }
    nav{
        text-align: center;
            }
    nav a{
        color: black;
        font-size: 22px;
        margin: 0 20px;
    }
    nav a:hover{
        color: tan;
        text-decoration: none;
    }
    main{
        background-color:salmon;
        margin: 10px;
        padding: 10px;
        border: 2px solid black;
    }
    header h2{
        font-size: medium;
        text-align: center;
        color: peachpuff;
    }
    img{
        border: 2px solid white;
        border-radius: 20px;
        width: 75%;
    }
    footer{
        padding: 20px 0;
        text-align: center;
        color: darkblue;
        background-color: peachpuff;
        margin: 40px 0;
    }